/* Preview images */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
}
.column {
    width: 30%;
    height: 50%;
    vertical-align: top;
    display: inline-block;
    *display: inline;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
.preview-image {
    width: 100%;
    margin-bottom: -4px;
    transition: all 0.05s ease-in-out;
    cursor: pointer
}
.preview-image:hover { transform: scale(1.1); }

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.9);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 2000px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from { -webkit-transform: scale(0) }
    to { -webkit-transform: scale(1) }
}
@keyframes zoom {
    from { transform: scale(0) }
    to { transform: scale(1) }
}
.mySlides {
    display: none;
    text-align: center;
    white-space: nowrap;
}
.imgHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.mySlides img {
    max-width: 100%;
    max-height: 90vh;
    vertical-align: middle;
    margin: 0 auto;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Next & Previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -25px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next { right: 0; }
.prev { left: 0; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

/* Number text (1/3 etc) */
/* .slide-number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
} */
/* Caption text */
.caption-text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 10px;
}